{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "prettier.requireConfig": true,
    "prettier.stylelintIntegration": true
}