
.products-list{

  .title-product {
    display: flex;
    justify-content: space-around;
    /* margin: 30px 60px 30px 0px; */
    margin: 20px 0px;
  }
  .side {
    display: flex;
    justify-content: center;
    .menus {
      width: 100%;
      /* margin-right: 20px; */
      /* margin: 10px; */
      border: 1px solid #dddada;
      padding: 10px;
      border-radius: 8px;
      height: 100%;

      .menu-item {
        /* max-width: 100%; */
        margin-right: 20px;
      }
      .radio-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        font-size: 12px;
        margin-top: 5px;
      }

    }

    .result-show {
      display: flex;
      justify-content: start;
      padding: 15px 10px;
      border: 2px solid #f5f5f5;
      border-radius: 16px;
      max-width: 100%;
      margin: 10px 20px;
      text-align: center;

      

.show {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-show {
  margin: 3px;
  &:focus{
  background-color: #17a2b8;
  color: white;}
}
    }


    .result-product {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      margin-right: 10px;
    }
  }



  .ant-menu-title-content {
    text-align: right;
  }
  
  .ant-menu-submenu-arrow {
    float: left;
    right: 220px;
  }
  
  
  
  
  .ant-menu-submenu-title {
    padding-right: 12px;
    padding-left: 12px;
  }
  
  
  
  .ant-menu-root.ant-menu-inline {
    border-right: none;
    padding-right: 0px;
  }
  
  .ant-menu-inline .ant-menu-submenu-title {
    padding-right: 0px;
  }

  // .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  //   width: 30%;
  // }
  // .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  //   width: 30%;
  // }
  
  .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
    width: 35%;
  }
  
  .ant-menu-inline.ant-menu-root .ant-menu-submenu-title > * {
    width: 35%;
  }
}



