@font-face {
  font-family: shabnam;
  src: url(../../assets/fonts/Shabnam-Medium.ttf);
}

body {
  direction: rtl;
  font-family: shabnam;
}

.slide {
  display: flex;
  justify-content: space-around;
}

.productusp-item {
  text-align: center;
}

.productusp-item h4 {
  color: #17a2b8;
}

.product-usp {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
