.breadcrumb {
  margin-right: 50px;
}

.productslider {
  margin: 50px;

  display: flex;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.productdetails {
  margin-right: 30px;
}

.inputnumber {
  width: 50px;
  padding: 5px 0px;
  border: 1.5px solid #c0bfbf;
}

.buy {
  width: 200px;
  border: 1.5px solid #595959;
  height: 40px;
  font-size: 13px;
}

.buy:focus {
  width: 200px;
  border: 1.5px solid #595959;
  height: 40px;
}

.addtobasket {
  width: 200px;
  height: 40px;
  font-size: 13px;
}

.productdetails-icon {
  display: flex;
  margin-top: 30px;
}

.collapse {
  border: none;
  background-color: white;
  outline: none;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding-right: 0px;
}

.details-seller {
  padding: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 16px;
  height: 100%;
  margin: 20px 30px;
}

.detailofseller {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.reaport > h5 {
  color: #dc3545;
}

.des {
  margin: auto;
}

.ant-tabs-tab {
  margin-left: 40px;
}

.description-caption {
  margin-left: 60px;
  line-height: 2.5;
}
.description {
  margin-top: 15px;
}

.silmilarproduct {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.title-similar{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow  {
  right: 500px;
  transform: rotate(180deg);
}
