.breadcrumb {
  margin-right: 50px;
}

.productslider {
  margin: 50px;

  display: flex;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.productdetails {
  margin-right: 30px;
}

.inputnumber {
  /* direction: rtl; */
  /* float: right; */
  width: 50px;
  /* height: 40px; */
  /* text-align: center; */
  padding: 5px 0px;
  border: 1.5px solid #c0bfbf;
}

.buy {
  width: 200px;
  border: 1.5px solid #595959;
  height: 40px;
}

.buy:focus {
  width: 200px;
  border: 1.5px solid #595959;
  height: 40px;
}

.addtobasket {
  width: 200px;
  /* border: 1.5px solid #595959; */
  height: 40px;
}

.icon {
  display: flex;
  margin-top: 30px;
}

.collapse {
  border: none;
  background-color: white;
  outline: none;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding-right: 0px;
}
