.card-heading {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  margin: 10px 10px 0px 10px;
  height: 360px;
  border-radius: 0px 15px 15px 0px;
  text-align: right;
  padding: 20px;
  padding-left: 0px;
}
