.card-heading {
  // background-image: url(../assets/exhead.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  margin: 10px 10px 0px 10px;
  /* padding: 50px; */
  height: 360px;
  border-radius: 0px 15px 15px 0px;
  text-align: right;
  padding: 20px;
  padding-left: 0px;
  /* height: 100%; */
  
}

 