.cardHeading2 {
  background-image: url(../assets/exhead2.png);
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  margin: 10px 10px 0px 20px;
  /* padding: 50px; */
  height: 360px;
  border-radius: 0px 15px 15px 0px;
  text-align: right;
  padding: 20px;
  color: orange ;
}

.cardHeading2 h4 , .cardHeading2 h1 { 
  color: white;
}
