.footer {
  background-color: #343a40;
}

.footercontent {
  /* margin: 50px auto; */
  margin: auto;
  padding: 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
  text-align: right;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.footercontent h3 {
  color: #17a2b8;
}

.footercontent h5 {
  color: white;
  padding: 5px 0px;
}

.title {
  list-style-type: none;
}

.title li {
  margin: 10px auto;
  color: white;
}

.version{
  /* height: 20px; */
  /* margin: 20px auto; */
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  color: white;
  font-size: 10px;
background-color: rgba(255, 255, 255, 0.2);}