.headers {
  .header {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
    border-bottom: 1px solid #e7e5e5;
    padding-bottom: 20px;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        padding-top: 10px;
      }
    }

    .search {
      direction: ltr;
      text-align: right;
    }

    .top-left-header {
      display: flex;
      justify-content: space-around;
      align-items: center;

      text-align: center;
      .left-header {
        direction: rtl;
        color: #8c8c8c;
        margin: 10px 0px;
        padding: 5px 5px;

        &:focus {
          background-color: #17a2b8;
          color: white;
        }
      }
    }
  }

  .layout {
    display: flex;

    .menu {
      direction: rtl;
      display: flex;
      justify-content: center;

      .dropdown {
        direction: rtl;
      }

      .submenu {
        height: 40px;
      }

      .submenu-item > span > span {
        float: left;
      }
    }
  }
}

.menuitem {
  left: -50px;
  top: 10px;
  text-align: right;
  float: left;
}

.ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-expand-icon {
  transform: rotate(180deg);
}

.ant-menu {
  border-bottom: 0px;
}

.ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-expand-icon {
  right: 200px !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
  border-bottom: none;
}

.submenu-item {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;

  span {
    display: flex;
    justify-content: space-between;
  }
}
